SocialSentimentService/Service References/RepoServiceReference/RepositoryService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53177/RepositoryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RepositoryService.DataContracts" />
  <xs:import schemaLocation="http://localhost:53177/RepositoryService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RepositoryService.Headers" />
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RepositoryService.DataContracts" minOccurs="0" name="GetAllUsersResult" nillable="true" type="q1:ArrayOfUserObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPosts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPostsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RepositoryService.DataContracts" minOccurs="0" name="GetAllPostsResult" nillable="true" type="q2:ArrayOfPostObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSentiments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSentimentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RepositoryService.DataContracts" minOccurs="0" name="GetAllSentimentsResult" nillable="true" type="q3:ArrayOfSentimentObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPlatforms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPlatformsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RepositoryService.DataContracts" minOccurs="0" name="GetAllPlatformsResult" nillable="true" type="q4:ArrayOfPlatformObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPostTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPostTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RepositoryService.DataContracts" minOccurs="0" name="GetAllPostTypesResult" nillable="true" type="q5:ArrayOfPostTypeObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSentimentTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSentimentTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RepositoryService.DataContracts" minOccurs="0" name="GetAllSentimentTypesResult" nillable="true" type="q6:ArrayOfSentimentTypeObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAccounts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RepositoryService.DataContracts" minOccurs="0" name="GetAllAccountsResult" nillable="true" type="q7:ArrayOfAccountObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAccountTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAccountTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/RepositoryService.DataContracts" minOccurs="0" name="GetAllAccountTypesResult" nillable="true" type="q8:ArrayOfAccountTypeObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountsByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/RepositoryService.Headers" minOccurs="0" name="request" nillable="true" type="q9:Pager" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountsByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/RepositoryService.DataContracts" minOccurs="0" name="GetAccountsByPageResult" nillable="true" type="q10:ArrayOfAccountObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostsByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/RepositoryService.Headers" minOccurs="0" name="request" nillable="true" type="q11:Pager" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostsByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/RepositoryService.DataContracts" minOccurs="0" name="GetPostsByPageResult" nillable="true" type="q12:ArrayOfPostObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/RepositoryService.Headers" minOccurs="0" name="request" nillable="true" type="q13:Pager" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/RepositoryService.DataContracts" minOccurs="0" name="GetUsersByPageResult" nillable="true" type="q14:ArrayOfUserObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/RepositoryService.DataContracts" minOccurs="0" name="GetUserByIdResult" nillable="true" type="q15:UserObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="postId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/RepositoryService.DataContracts" minOccurs="0" name="GetPostByIdResult" nillable="true" type="q16:PostObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSentimentById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sentimentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSentimentByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/RepositoryService.DataContracts" minOccurs="0" name="GetSentimentByIdResult" nillable="true" type="q17:SentimentObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/RepositoryService.DataContracts" minOccurs="0" name="GetAccountByIdResult" nillable="true" type="q18:AccountObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSentimentTypeById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sentimentTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSentimentTypeByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/RepositoryService.DataContracts" minOccurs="0" name="GetSentimentTypeByIdResult" nillable="true" type="q19:SentimentTypeObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostTypeById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="postTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostTypeByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/RepositoryService.DataContracts" minOccurs="0" name="GetPostTypeByIdResult" nillable="true" type="q20:PostTypeObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlatformById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="platformId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlatformByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/RepositoryService.DataContracts" minOccurs="0" name="GetPlatformByIdResult" nillable="true" type="q21:PlatformObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountTypeById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountTypeByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/RepositoryService.DataContracts" minOccurs="0" name="GetAccountTypeByIdResult" nillable="true" type="q22:AccountTypeObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/RepositoryService.DataContracts" minOccurs="0" name="user" nillable="true" type="q23:UserObject" />
        <xs:element minOccurs="0" name="hashedPassword" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPosts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPostsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/RepositoryService.DataContracts" minOccurs="0" name="GetUserPostsResult" nillable="true" type="q24:ArrayOfPostObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/RepositoryService.DataContracts" minOccurs="0" name="post" nillable="true" type="q25:PostObject" />
        <xs:element minOccurs="0" name="accountid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPostResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="postId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/RepositoryService.DataContracts" minOccurs="0" name="GetUserPostResult" nillable="true" type="q26:PostObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountPosts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountPostsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/RepositoryService.DataContracts" minOccurs="0" name="GetAccountPostsResult" nillable="true" type="q27:ArrayOfPostObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentsByPosts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="postId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentsByPostsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/RepositoryService.DataContracts" minOccurs="0" name="GetCommentsByPostsResult" nillable="true" type="q28:ArrayOfFbCommentObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacebookCommentPostType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacebookCommentPostTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/RepositoryService.DataContracts" minOccurs="0" name="GetFacebookCommentPostTypeResult" nillable="true" type="q29:PostTypeObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacebookWallPostType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacebookWallPostTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/RepositoryService.DataContracts" minOccurs="0" name="GetFacebookWallPostTypeResult" nillable="true" type="q30:PostTypeObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFacebookPageAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/RepositoryService.DataContracts" minOccurs="0" name="account" nillable="true" type="q31:AccountObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFacebookPageAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/RepositoryService.DataContracts" minOccurs="0" name="AddFacebookPageAccountResult" nillable="true" type="q32:AccountObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="postId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadComments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/RepositoryService.DataContracts" minOccurs="0" name="comments" nillable="true" type="q33:ArrayOfFbCommentObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadCommentsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/RepositoryService.DataContracts" minOccurs="0" name="comment" nillable="true" type="q34:FbCommentObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadCommentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorstComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="postId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorstCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/RepositoryService.DataContracts" minOccurs="0" name="GetWorstCommentResult" nillable="true" type="q35:FbCommentObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBestComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="postId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBestCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/RepositoryService.DataContracts" minOccurs="0" name="GetBestCommentResult" nillable="true" type="q36:FbCommentObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNeutralComments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="postId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNeutralCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/RepositoryService.DataContracts" minOccurs="0" name="GetNeutralCommentsResult" nillable="true" type="q37:ArrayOfFbCommentObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>