SocialSentimentService/Service References/RepoServiceReference/RepositoryService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RepositoryService.Headers" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RepositoryService.Headers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Pager">
    <xs:sequence>
      <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pager" nillable="true" type="tns:Pager" />
</xs:schema>